<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>com.zstu.controller.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFindServlet</servlet-name>
        <servlet-class>com.zstu.controller.UserFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.zstu.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.zstu.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionAddServlet</servlet-name>
        <servlet-class>com.zstu.controller.QuestionAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionFindServlet</servlet-name>
        <servlet-class>com.zstu.controller.QuestionFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDeleteServlet</servlet-name>
        <servlet-class>com.zstu.controller.QuestionDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateByIdServlet</servlet-name>
        <servlet-class>com.zstu.controller.UpdateByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.zstu.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionRandServlet</servlet-name>
        <servlet-class>com.zstu.controller.QuestionRandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPointServlet</servlet-name>
        <servlet-class>com.zstu.controller.QuestionPointServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionPointServlet</servlet-name>
        <url-pattern>/question/point</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionRandServlet</servlet-name>
        <url-pattern>/question/rand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/question/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateByIdServlet</servlet-name>
        <url-pattern>/question/updateById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDeleteServlet</servlet-name>
        <url-pattern>/question/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionFindServlet</servlet-name>
        <url-pattern>/question/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionAddServlet</servlet-name>
        <url-pattern>/question/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UserFindServlet</servlet-name>
    <url-pattern>/user/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <listener>
    <listener-class>com.zstu.Listener.OneListener</listener-class>
    </listener>
    <filter>
        <filter-name>OneFilter</filter-name>
        <filter-class>com.zstu.Filter.OneFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OneFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>